<%= include _partials/header.ejs %>
	<body>
		<script>var socket = io('/<%= socketId %>');</script>
		<h1><%=title%></h1>
	</body>
	<script src="/_client/scripts/src/app.js"></script>
<%= include _partials/footer.ejs %>